
Fundamentos_Secuenciacion/practicas/QualityControl_practice/plink.hwe
Estadistica-R/apuntes/auto/
Estadistica-R/apuntes/figure/
Estadistica-R/apuntes/.Rhistory
Estadistica-R/apuntes/main-prstr-concordance.tex
Estadistica-R/apuntes/R-basic-stats.R
Estadistica-R/apuntes/main-prstr.log
Estadistica-R/apuntes/main-prstr.tex
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_orai1-telmisartan_membrane_step7_10.mdcrd
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_vcon_adalapeno.mdcrd
Bioinformatica_Estructural/practicas/MolecularDynamics/vilazodone-rep
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_vcon_vilazodone.mdcrd
/Transcriptomica_Genomica_Epigenomica/practicas/Proteómica/untarget/raws
/Transcriptomica_Genomica_Epigenomica/practicas/Proteomica/untarget/raws
Metagenomica/practicas/DeNovo-Assembly/human_cds.1.bt2
Metagenomica/practicas/DeNovo-Assembly/human_cds.2.bt2
Metagenomica/practicas/DeNovo-Assembly/human_cds.3.bt2
Metagenomica/practicas/DeNovo-Assembly/human_cds.4.bt2
Metagenomica/practicas/DeNovo-Assembly/human_cds.md5
Metagenomica/practicas/DeNovo-Assembly/human_cds.rev.1.bt2
Metagenomica/practicas/Taxonomy-Classification/viral.1.protein.faa
Metagenomica/practicas/Taxonomy-Classification/viralproteins.dmnd
/Caracterizacion_Redes_Topologias_Biologicas/ejercicios/entrega
/Transcriptomica_Genomica_Epigenomica/practicas/SingleCellRNA
