
Fundamentos_Secuenciacion/practicas/QualityControl_practice/plink.hwe
Estadistica-R/apuntes/auto/
Estadistica-R/apuntes/figure/
Estadistica-R/apuntes/.Rhistory
Estadistica-R/apuntes/main-prstr-concordance.tex
Estadistica-R/apuntes/R-basic-stats.R
Estadistica-R/apuntes/main-prstr.log
Estadistica-R/apuntes/main-prstr.tex
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_orai1-telmisartan_membrane_step7_10.mdcrd
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_vcon_adalapeno.mdcrd
Bioinformatica_Estructural/practicas/MolecularDynamics/vilazodone-rep
Bioinformatica_Estructural/practicas/MolecularDynamics/shortMD_vcon_vilazodone.mdcrd
